.rounded-card {
  border-radius: 30px;
}
.image-border-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.card:hover {
  transform: scale(1.02);
  transition: 100ms;
}

.shadow {
  box-shadow: 12px 12px 2px 1px rgba(53, 52, 52, 0.2);
}

.card2 img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
}

.card img {
  height: 250px;
  object-fit: cover;
}
.card-deck {
  flex: none;
  justify-content: space-between;
}
.card {
  border-radius: 15px;
}
.card2 {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-chef {
  max-height: 420px;
}

.comprar-ya {
  max-width: 1400px;
  margin: 0 auto;
}

#block-comprar {
  padding-left: 50px;
}

#img-block-comprar {
  max-height: 520px;
}

#img-block-comprar img {
  max-height: 520px;
  max-width: 100%;
  width: 650px;
}

.destacados,
h2 {
  margin-top: 65px;
  margin-bottom: 65px;
}

@media only screen and (max-width: 600px) {
  div#block-comprar {
    margin-bottom: 40px;
  }
}
